# R
# History & user files
.Rhistory
.Rapp.history
.Ruserdata
.Rproj.user/

# R Environment Variables
.Renviron

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# output files created by compiling report
.html

# mac-OS & other e-dust bunnies
.DS_Store
